$--color-default: #e9e8ed;
$--color-invalid: #fc4f60;
$--bg-invalid: #fff2f2;
$--color-focus: #7193be;

.errorImg {
  width: 0.9rem;
  top: 3rem;
  left: 13rem;
  position: absolute;
}

.element-hidden {
  display: none;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 218px;

  .formInput__label {
    font-size: 0.8rem;
    margin-bottom: -0.4rem;
  }

  .formInput__input {
    padding: 0.80rem;
    margin: 10px 0px;
    border-radius: 5px;


    &:hover {
      cursor: pointer;
    }

    // when the input field is empty
    &:focus:invalid {
      outline: none !important;
      border: 1px solid var($--color-default) !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }
  }
}

.formInput__error-message {
  color: $--color-invalid;
  margin-top: 1px;
}

.formInput--defaultInput {
  border: 1px solid $--color-default !important;
  border-color: var($--color-default) !important;

  &:focus {
    outline: none !important;
    border: 1px solid $--color-focus !important;
  }
}

.formInput--validInput {
  outline: none !important;
  border: 1px solid $--color-focus !important;

  &:focus {
    outline: none !important;
    border: 1px solid $--color-focus !important;
  }
}

.formInput--invalidLabel {
  color: $--color-invalid !important;
}

.formInput--invalidInput {
  outline: none !important;
  border: 1px solid $--color-invalid !important;
  background-color: $--bg-invalid;

  &:focus {
    outline: none !important;
    border: 1px solid $--color-invalid !important;
  }
}

.formInput--hidden {
  display: none;
}

.hidden {
  display: none;
}